<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shopping</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/css/slider.css")" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/move-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/easing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/startstop-slider.js")"></script>




    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link href="~/Content/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <script src="~/Content/js/star-rating.js" type="text/javascript"></script>


    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!----start-alert-scroller---->
    <script src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.easy-ticker.js"></script>


    <!----start-alert-scroller---->
    <!-- start menu -->
    <link href="~/Content/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/scripts/megamenu.js"></script>

    <script src="~/scripts/menu_jquery.js"></script>
    <!-- //End menu -->
    <!---slider---->
    <link rel="stylesheet" href="~/Content/slippry.css">
    <script src="~/scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/scripts/scripts-f0e4e0c2.js" type="text/javascript"></script>

    <!----start-pricerage-seletion---->
    <script type="text/javascript" src="~/scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.css">

    <!----//End-pricerage-seletion---->
    <!---move-top-top---->
    <script type="text/javascript" src="~/scripts/move-top.js"></script>
    <script type="text/javascript" src="~/scripts/easing.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tresvagos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--
        <hr />
        
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
            -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
