@{
    ViewBag.Title = "Search Page";
}

<link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" media="all" />

@*<div class="container-fluid" style="color:#FF5722;">
    <div class="jumbotron">
        <p><h1 class="text-center">Tresvagos</h1></p>
        <p><h3 class="text-center">¡Hoteles en el Perú a tu precio deseado!</h3></p>
      
    </div>
</div>*@
@*<div>
    <div >
        
        <div class="col-md-6">
            <form class="text-left">
                @Html.TextBox("precio")
            </form>
        </div>
    </div>

 </div>*@

<div class="header">
    <div class="top-header">

            <div class="clear"> </div>
        </div>
    </div>


<div class="top">
 </div>

<div class="header_top">
    <div class="logo">
        <a href="/"><img src="/Content/images/logo.png" alt=""></a>
    </div>


    <div class="clear"></div>
</div>

<div class="header_bottom">
    
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-block" type="button">Go!</button>
        </span>
    </div>

 </div>
<div class="container body-content">

    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                <h3>Buscar</h3>

                <li>
                    @Html.Label("Estrellas ")
                    <select class="form-control bs-select-hidden" title="City">


                        @for (int i = 0; i < 5; i++)
                        {
                            <option value="">@i</option>
                        }
                    </select>
                </li>
                <li>
                   @Html.Label("Ciudad ")
                <select class="form-control bs-select-hidden" title="City">

                    @for (int i = 0; i < 15; i++)
                    {
                        <option value="">Ciudad @(i + 1)</option>
                    }
                </select>

                </li>
                <li>
                   @Html.Label("Distrito ")
                <select class="form-control bs-select-hidden" title="Distric">
                    <option class="bs-title-option" value="">Distrito</option>
                    @for (int i = 0; i < 15; i++)
                    {
                        <option value="">Distrito @(i + 1)</option>
                    }


                </select>

                </li>

                <li>
                    <form method="get" action="?">
                        <div class="hero-image-location form-group">
                            <button type="submit" class="btn btn-primary btn-block">Hotel</button>
                        </div>
                    </form>
                </li>
                
            </ul>
        </div>
    </div>



        


        @*<div class="col-sm-2 col-sm-offset-4 col-lg-4 col-lg-offset-7">*@
        <div class="col-sm-8 ">
            <form method="get" action="?">
                <div class="hero-image-location form-group">
                    
                    <button type="submit" class="btn btn-primary btn-block">Hotel</button>
                </div>
            </form>
        </div>
    </div>
